h1,
h2 {
  color: black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
h3 {
  color: red;
  font-family: "Courier New", Courier, monospace;
}
#div5 {
  color: rgb(8, 0, 255);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#div6 {
  color: rgb(224, 55, 13);
  font-family: cursive;
}
